# Nouvelle section

import de sqlite3

In [1]:
import sqlite3

In [8]:
# Créer une connexion SQLite en mémoire (non permanente)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [11]:
# Création de la table courses
cursor.execute('''
CREATE TABLE courses (
    id INTEGER PRIMARY KEY,
    name TEXT,
    is_exam BOOLEAN,
    min_grade INTEGER,
    max_grade INTEGER
)
''')

In [12]:
# Création de la table groups
cursor.execute('''
CREATE TABLE groups (
    id INTEGER PRIMARY KEY,
    full_name TEXT,
    short_name TEXT,
    students_ids TEXT
)
''')

In [13]:
# Création de la table students
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT,
    group_id INTEGER,
    courses_ids TEXT
)
''')

In [14]:
# Création de la table des notes pour un cours
cursor.execute('''
CREATE TABLE math_course (
    student_id INTEGER,
    grade INTEGER,
    grade_str TEXT
)
''')

print("Tables créées avec succès.")

Tables créées avec succès.

In [15]:
#Insertion des données dans la table courses
cursor.executemany('''
INSERT INTO courses (id, name, is_exam, min_grade, max_grade)
VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'Mathematics', True, 0, 100),
    (2, 'History', True, 0, 100),
    (3, 'Physics', False, 0, 10)
])

In [4]:
# Insertion des données dans la table groups
cursor.executemany('''
INSERT INTO groups (id, full_name, short_name, students_ids)
VALUES (?, ?, ?, ?)
''', [
    (1, 'Group A', 'A', '1,2'),
    (2, 'Group B', 'B', '3')
])

In [5]:
cursor.executemany('''
INSERT INTO students (id, first_name, last_name, group_id, courses_ids)
VALUES (?, ?, ?, ?, ?)
''', [
    (1, 'Alice', 'Smith', 1, '1,2'),
    (2, 'Bob', 'Johnson', 1, '1,3'),
    (3, 'Charlie', 'Williams', 2, '2,3')
])

In [16]:
# Insertion des données dans la table math_course
cursor.executemany('''
INSERT INTO math_course (student_id, grade, grade_str)
VALUES (?, ?, ?)
''', [
    (1, 85, 'A'),
    (2, 92, 'A+')
])

conn.commit()
print("Données insérées avec succès.")

Données insérées avec succès.

In [17]:
#requête pour afficher tous les cours

cursor.execute('SELECT * FROM courses') # Récupérer tous les cours
courses = cursor.fetchall()

print("\nCours disponibles :")
for course in courses:
    print(course)

Cours disponibles :
(1, 'Mathematics', 1, 0, 100)
(2, 'History', 1, 0, 100)
(3, 'Physics', 0, 0, 10)

In [18]:
#requête pour récupérer les étudiants inscrits à un cours spécifique
# Trouver les étudiants inscrits à un cours spécifique (par exemple, History)
course_id = 2
cursor.execute('SELECT * FROM students WHERE courses_ids LIKE ?', (f'%{course_id}%',))
students_in_course = cursor.fetchall()

print("\nÉtudiants inscrits au cours d'histoire :")
for student in students_in_course:
    print(student)

Étudiants inscrits au cours d'histoire :

In [19]:
# Calculons la moyenne des notes dans le cours de mathematiques
cursor.execute('SELECT AVG(grade) FROM math_course')
average_grade = cursor.fetchone()[0]

print(f"\nMoyenne des notes en mathématiques : {average_grade}")

Moyenne des notes en mathématiques : 88.5

In [20]:
# Supprimons un étudiant de la table math_course
student_id_to_delete = 1
cursor.execute('DELETE FROM math_course WHERE student_id = ?', (student_id_to_delete,))
conn.commit()
print(f"Étudiant avec l'ID {student_id_to_delete} supprimé du cours de mathématiques.")

Étudiant avec l'ID 1 supprimé du cours de mathématiques.

In [21]:
# Mettre à jour la note d'un étudiant
cursor.execute('UPDATE math_course SET grade = ?, grade_str = ? WHERE student_id = ?', (95, 'A+', 2))
conn.commit()
print("Note mise à jour avec succès.")

Note mise à jour avec succès.

In [22]:
#fermons la base de donnees
conn.close()
print("Connexion SQLite fermée.")

Connexion SQLite fermée.